body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom right, #940B92, #190482);
}

.game {
  text-align: center;
}

.board {
  display: grid;
  grid-template: repeat(3, 100px) / repeat(3, 100px);
  gap: 5px;
  margin-bottom: 20px;
}

.cell {
  border: 2px solid #aaa;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  cursor: pointer;
}

.status {
  font-size: 20px;
  margin-bottom: 20px;
}

.restart-btn, .new-game-btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.game-screen {
  display: flex;
  flex-direction: column;
}

.result-screen {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
}

.result-screen.active {
  display: flex;
}
